name: ARM64 Multi-Arch Pipeline

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Enable Buildx
      run: |
        docker buildx create --name multiarch --use || docker buildx use multiarch
        docker buildx inspect --bootstrap

    - name: Docker login
      run: |
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | \
        docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build & push multi-arch image
      run: |
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          -t shrutikoranne/arm64-selfhosted:latest \
          --push .

    - name: Stop old container
      run: |
        docker ps -q --filter name=arm64-selfhosted | xargs -r docker stop
        docker ps -aq --filter name=arm64-selfhosted | xargs -r docker rm

    - name: Run new container
      run: |
        docker run -d \
          --name arm64-selfhosted \
          -p 3000:3000 \
          shrutikoranne/arm64-selfhosted:latest